accelerate>=0.26.0
aiohttp
datasets
docarray[full]
fastapi
faster-whisper
librosa
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
prometheus-fastapi-instrumentator
pydantic==2.7.2
pydub
python-multipart
shortuuid
soundfile
transformers
trl==0.11.0
uvicorn
webrtcvad
zhconv
